/* css template*/
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Roboto+Mono:ital@1&display=swap');

body{
	font-family: 'Roboto Mono', monospace;
}

h1{
	font-family: 'Montagu Slab', serif;
}
/*icons*/
i.fa{
	color: black;
	font-size: 100px;
	padding-top: ;
}
	
}
/* Vertical Nav bar*/

nav ul{
	list-style-type: :none;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: purple;
}
nav a:visited{
	color: pink;
}
nav a:hover{
	color: gray;
}
nav a:active{
	color: black;

}
main{
	margin: 0 auto;
	max-width: 1200px;
}


/* spaniel styles */
.spanhero{
	background-image: url(images/header.jpg);
	height: 475px;
	width: 1200px;
	background-size: cover;
	background-position: center;
	color: white;
	padding: 10px 10px 10px 30px;
	text-shadow: 5px 4px black;
}

.corgi{

}
/*paragraph*/
h2{
	font-size: 50px;
	font-weight: bold;

}
h3{
	font-weight: bold;
	line-height: 1px;

}
h5{
	margin-top:  30px;
	margin-left: 50px;
	line-height: 40px;
	border-left: solid;
	padding-left: 10px;
	margin-bottom: 30px;
}
footer{
	text-align: center;
	background-color: orange;
}
}
.copyright{
	display: block;
	text-align: center;
	padding-top: 50px;
}

.container-fluid{
	display: block;
	margin: 0 auto;
	text-align: center;
}
}
.links{
	color: red;
	font-size: 50px;

}
/* icon text */
footer p a:link{
	color: black;
	font-size: 25px;
}
footer p a:visited{
	color: darkred;
}
footer p a:hover{
	color: yellow;
}
footer p a:active{
	color: darkgray;
}
/* For tablets */

@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
}

/* For Phones */

@media only screen and (max-width: 768px){
	h1{
		font-size: 1.5em;
	}
}